.section-gallery__main-container {
  padding-right: 24px;

  @include breakpoint(tablet) {
    padding: 0 39px;
  }

  @include breakpoint(desktop) {
    margin-bottom: 168px;
    padding: 0;

    background: url(./assets/shared/pattern-square.svg) no-repeat
      calc(1350px / 2 - 50%) 25px / 255px 240px;
  }
}

.section-gallery__wrap {
  position: relative;

  @include breakpoint(desktop) {
    max-width: 1150px;
    margin: auto;
    padding: 0 20px;
  }
}

.section-gallery {
  margin-bottom: 111px;

  @include breakpoint(tablet) {
    margin-bottom: 114px;
  }

  @include breakpoint(desktop) {
    display: flex;
    padding: 0;
    margin: auto auto 0;
    grid-column: 3;
  }
}

.section-gallery__pic-wrap {
  margin-bottom: 75px;
  height: 193px;

  @include breakpoint(tablet) {
    padding-right: 0;
    height: 320px;
  }

  @include breakpoint(desktop) {
    height: 480px;
    width: 66%;
    margin-bottom: 0;
  }
}

.section-gallery__text-block {
  @include breakpoint(desktop) {
    width: 33%;
    height: 100%;
    align-self: center;
  }
  .layout {
    @include breakpoint(tablet) {
      display: flex;
      padding: 0;
      gap: 99px;
    }

    @include breakpoint(desktop) {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding-left: 8vw;
    }
  }
}

.section-gallery__heading {
  @include heading2;
  color: var(--color3);
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;

  @include breakpoint(tablet) {
    text-align: left;
  }
  @include breakpoint(desktop) {
    margin-bottom: 15px;
  }
}

.section-gallery__content {
  @include body-text;
  color: var(--color4);
  text-align: center;

  @include breakpoint(tablet) {
    text-align: left;
    padding-top: 10px;
  }
}

.section-gallery__pic-item {
  position: relative;
  overflow: hidden;

  &.pic-item--color {
    overflow: hidden;

    .section-gallery__pic {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: var(--color1);
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0.75;
      }
    }
  }
}

.section-gallery__pic {
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section-gallery__pic-list {
  height: 100%;
  display: flex;
  gap: 23px;

  @include breakpoint(tablet) {
  }

  .section-gallery__pic-item {
    &:first-child {
      flex: 1;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      @include breakpoint(tablet) {
        border-radius: 20px;
      }

      @include breakpoint(desktop) {
      }
    }

    &:nth-child(2) {
      flex: 2;
      border-radius: 20px;

      @include breakpoint(tablet) {
      }

      @include breakpoint(desktop) {
      }
    }
  }

  @include breakpoint(desktop) {
  }
}
