.section-promo {
  padding-top: 38px;
  overflow: hidden;
  padding-bottom: 26px;

  @include breakpoint(tablet) {
    padding-top: 20px;
  }

  @include breakpoint(desktop) {
    padding-bottom: 33px;
    position: relative;
    //background: linear-gradient(to left, #e8eff2, #e8eff2) no-repeat
    //  calc(50% + 1385px / 2) 25px / 255px 240px;
  }

  .layout {
    padding: 0;
    @include breakpoint(tablet) {
      display: flex;
    }

    @include breakpoint(desktop) {
      padding: 0 20px;
      position: relative;
    }

    &:before {
      @include breakpoint(desktop) {
        content: "";
        background: url(./assets/shared/pattern-square.svg) no-repeat;
        max-width: 255px;
        position: absolute;
        height: 240px;
        top: 0;
        width: 100%;
        left: 101%;
      }
    }
  }
}

.section-promo__heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: var(--color3);
  margin-bottom: 32px;

  @include breakpoint(desktop) {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 23px;
  }
}

.section-promo__content {
  @include body-text;
  color: var(--color4);
  margin-bottom: 32px;

  @include breakpoint(tablet) {
    margin-bottom: 40px;
  }

  @include breakpoint(desktop) {
    font-size: 18px;
  }
}

.data-release {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--color4);
  text-transform: uppercase;
}

.section-promo__btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(desktop) {
    justify-content: start;
    gap: 40px;
  }
}

.section-promo--text-block {
  margin-bottom: 64px;
  padding: 0 24px;

  @include breakpoint(tablet) {
    padding: 63px 0 10px 39px;
    width: 55%;
  }

  @include breakpoint(desktop) {
    padding-left: 0;
    width: 50%;
    padding-right: 100px;
  }
}

.section-promo__pic {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;

    @include breakpoint(tablet) {
      object-fit: contain;
    }

    @include breakpoint(desktop) {
      object-fit: cover;
    }
  }
}

.section-promo__pic__wrap {
  position: relative;
  height: 331px;

  @include breakpoint(tablet) {
    width: 45%;
    padding-left: 0;
    height: 425px;
  }

  @include breakpoint(desktop) {
    height: 480px;
    width: 50%;
    padding-left: 15px;
  }
}

.picture-wrap {
  height: 100%;
  width: 100vw;
  margin-left: 24px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;

  @include breakpoint(desktop) {
    width: 100%;
  }
  @include breakpoint(desktop) {
    margin-left: 0;
    margin-right: 30px;
  }
}
